body {
  background-color: #ffffff;
}

p {
  color: #2E779C;
  align: center;
  font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: Light;
  letter-spacing: 4px;
  font-size: 20px;
}

a:link {
  color: #2E779C;
  text-decoration: none;
}

a:visited {
  color: #2E779C;
}

a:hover {
  color: #2E779C;
  text-decoration: underline;
}

a:active {
  color: #333333;
  text-decoration: underline;
}